body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center; /* Menengahkan konten di dalam container */
}

h1 {
    color: #333;
    margin-bottom: 30px;
    font-size: 32px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    /* Tambahkan kelas rainbow-text untuk efek pelangi */
    /* Tambahkan animasi berjalan (rainbow-animation) untuk efek pelangi */
    /* Tambahkan durasi dan iterasi animasi (5s infinite) */
    background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    color: transparent;
    animation: rainbow-animation 5s infinite; /* Mengatur durasi dan iterasi animasi */
}

@keyframes rainbow-animation {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}
